<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.team930.bears.wearstime">

    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:resizeable="true"
        />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/avatar2_trans"
        android:label="WEARs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:testOnly="false"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PreMatch" />
        <activity android:name=".PostMatch" />
        <activity android:name=".AutonTeleop" />
        <activity android:name=".Settings" />
        <activity android:name=".QRCreator" />
        <activity android:name=".MasterScanner"/>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />

</manifest>